@use "sass:math";

@import "variables";
@import "mixins";

html, body{ 
    display: block; 
    margin: 0; 
    padding: 0;
    width: 100%;
    background-color: $lightPurple;
} 

*{
    box-sizing: border-box;
}

:root {

    /* Edición de los colores de los bullets del Swiper*/
  --swiper-pagination-color: #{$lightPurple};
  --swiper-pagination-bullet-inactive-color: #{$middlePurple};
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-opacity: 1;
}

/* TEXTOS */
h1{
    font-size: $fluidH1;
    font-family: $tipoH1;
}

h2{
    font-size: $fluidH2;
    font-family: $tipoH2;
}

h3{
    font-size: $fluidH3;
    font-family: $tipoH3;
    font-weight: $tipoH3weight;
}

p{
    font-size: $fluidP;
    font-family: $tipoP;
}

.text-light{
    color: $middlePurple;
}

.text-dark{
    color:$lightPurple;
}

.text-ultralight{
    color:$darkPurple;
}

/* HEADER */

header{ 
    /* Definimos posición fija para el header, al hacer scroll este se mantiene en la parte superior */
    position: fixed; 
    //top: 0;
    width: 100%;
    height: 90px; 
    max-width:100%; /* Max-width para que no haga scroll horizontal*/
    @include flex (row,space-between,center);
    align-items: center;
    padding: 20px 10px 5px 20px;
    transition: background-color 0.3s ease; /* Transición para el cambio de color del header */
    z-index: 1000; /* queda encima de todo el contenido */
    
    img{ 
        height: 100%;

        /*flex: 0 0 80px; */
    }
        
    #menu-navegacion{ 
        @include flex(row, space-between, center);
        padding: 0; 
        flex: 1; 
    } 
    
    nav{ 
        @include flex(row, space-around, center);
        width: 80%;
    } 
    
    a{ 
        color: $lightPurple;
    }
}

header.scrolled{ /* Definición de las propiedades CSS de la class scrolled que se activa con Java Script */
    background:$middlePurple; /* color de fondo al hacer scroll */
    padding: 20px 10px 5px 20px;
}

a{
    text-decoration: none;
}

li{ 
    list-style-type: none; 
    font-size: $fluidP;
    font-family: $tipoH2;
} 

#titol-web{
    font-size: clamp(50px, 4vw, 80px);
    font-family:('Cantarell', Helvetica, Arial, sans-serif);
}

.titol-web-change{
    font-size: clamp(80px, 4vw, 110px);
    font-family:('Fjalla One','Gill Sans', Calibri, sans-serif);
}

#subtitol-web{
    font-size: clamp(18px, 4vw, 28px);
    font-family:('Cantarell', Helvetica, Arial, sans-serif);
}

/* FOOTER */

footer{
    color: white;
    min-height: 90px;
    @include flex(row, space-around, flex-end);
}

.footer-light{
    background-color: $lightPurple;
}

.logo-ajunt-lloret{
    height: 70px;
    padding: 5px;
}

/* BOTONES */

.btn-primary{
    @include btn-primary;
}

.btn-secondary{
    @include btn-secondary;
}

.btn-next{
    @include btn-next;
}

.btn-ant{
    @include btn-ant;
}

.btn-light{
    @include btn-light;
}

.btn-dark{
    @include btn-dark;
}

.btn-light-border{
    @include btn-light-border;
}

.btn-dark-border{
    @include btn-dark-border;
}

.btn-share{
    @include btn-share;
}

a.btn:hover, .btn:hover{
    transform: scale(1.05); /* Tranformación para que augmente el tamaño del boton al hacer hover */
}

.btn-icon-primary{ /* Iconos que hay en los botones */
    width: $btn-icon-size-primary;
    height: auto;
    max-width: 100%;
    align-items: center;
}

.btn-icon-secondary{ /* Iconos que hay en los botones */
    width: $btn-icon-size-secondary;
    height: auto;
    max-width: 100%;
    align-items: center;
}

.btn-icon-next, .btn-icon-ant{ /* Iconos que hay en los botones */
    width: $btn-icon-size-next;
    height: auto;
    max-width: 100%;
    align-items: center;
}

.btn-icon-share{
    width: $btn-icon-size-primary;
    height: auto;
}

/* DESPLEGABLE IDIOMA */

.menu-idioma-desplegable{ 
    padding:0; 
    height: 90%; 
    flex: 0 0 50px; 
    flex-direction: column;
    align-items: center;

    position: relative;
    display: flex;
}

#menu-idioma{ 
    padding:0; 
    height: 100%; 
    margin:0;

    position: absolute;
    top: 100%;

    //Fondo de color para que se vea bien el menú desplegado
    .oculto{
        background-color: rgba($middlePurple, 1);
        border-radius:  0, $borderRadiusS; //REVISAR
        padding: 5px;
    }
} 

#menu-idioma[hidden], #menu-navegacion[hidden]{
    display: none;
}

.idioma, .navegacion{ 
    padding:0; 
    height: 100%; 
}

#idioma-btn, #nav-btn{
    background-color: transparent;
    border: none;

    cursor:pointer;
    padding: 0;
}

/* INICI MAIN */

.hero-bg-inici{ /* Imagen de fondo de la seccion inicial */
    background:  linear-gradient(rgba($middlePurple, 0.7), rgba($middlePurple, 0.7)),
    url("../files/img/dona_marinera_tochange.jpg") ;
    /* Imagen de fondo con filtro de color por encima */
    background-position: top left; /* Coge de referencia la esuqina sueprior izquierda, al hacer pequeña la pantalla la imagen se mantiene estática en esa posición, interesa por como es el contenido de la imagen */
    background-repeat: no-repeat; /* La imagen no se repite en el caso de que no rellene el fondo */
    top: 0;
    left: 0;
    min-height: 50vh;
}


.inicio{
    @include flex(column, center, center);
    width: 100%;
    padding: 100px;
    align-items: center;

   .text-inicio{
        @include flex(column, center, center);  
        text-align: center;
        max-width: 550px;
    }

    #greenline-inicio{
        max-width: 200px;
        align-self: end;
        margin-top: -50px;
        margin-right: 80px;
    }

    .buttons-inicio{
        @include flex(column, center, center);
    }
}

.inicio-fade{
    height: 50px;
    background-color: linear-gradient(rgba($middlePurple, 0.7), rgba($lightPurple, 0.7));
     z-index: -1;
}

.li-comfunciona{
    font-family: $tipoP;
    font-size: $fluidP;
    line-height: 250%; /* Ampliación del alto de linea para separar los pasos de la lista */
    list-style-type: decimal; /* Definiendo el número de cada item de la lista */
}

.com-funciona, .accessibilitat{
    background-color: $lightPurple;
    display:block;
    padding: $paddingM;
    padding-top: 20px;
}

.com-funciona{
    @include flex(row, space-around, center);

    .butons-comfunciona{
        display: flex;
        flex-wrap: wrap;
    }
    
    .text-comfunciona{
        @include flex(column, flex-start,center);
        width: 450px;
        padding: 20px;
    }

    .imagen-mapa{
        display: flex;
        object-fit: contain;
        height: auto;
        max-width: 100%;
    }
}

.imagen-funciona{
    display: inline-flex;
    justify-content: flex-end;
    max-width: 60%;
 }

.accessibilitat{
    @include flex(row, space-around, center);
    padding: 40px;
    gap: 25px;
    align-items: center;
}

.carroussel-interes{
    max-width: 60%;
}

.swiper{
    max-width: 100%;
    aspect-ratio: 16 / 9; /* Mantiene el ratio de ancho/altura */
    overflow: hidden;
    border-radius:8px;
    box-shadow: 1px 1px 4px $middlePurple;

   .swiper-button-prev, .swiper-button-next{
        color:$lightPurple;
    }

    .carroussel-interes-inicio{
        width: 100%;
        height: auto;
        position: top center;
    }
}

.bloc-accessibilitat{
    @include flex(column, end, center);
    justify-self: end;
    gap:20px;
    max-width: 500px;

    h2{
        margin: 0;
    }
}



.icona-accessibilitat{
    width: $icon-access;
    height: auto;
}

.access-info{
    @include flex(row, start, center);
    gap: 15px;
}

.access-text{
    line-height: 10%;
    @include flex(column, start, start);
    align-items: flex-start;

    h3{
        line-height: 150%;
        margin: 0;
    }

    p{
        line-height: 150%;
        margin: 0;
    }
}

@media (max-width: 769px) {
    .com-funciona, .accessibilitat{
        @include flex(column, center, center);
        align-items: center;
    }

    .carroussel-interes, .imagen-funciona{
        max-width: 90%;
    }

    header{
        #menu-navegacion [hidden]{
        display:none;
        }

        .menu-nav-desplegable{ /* MIRAR COM ALINEAR AL FINAL*/
            padding:0; 
            height: 50%; 
            width: 80%;
            flex-direction: column;
            align-items: end;

            position: relative;
            display: flex;
        }

        #menu-navegacion{
            @include flex(column, start, center);
            background-color: rgba($middlePurple, 1);
            padding: 20px;
            border-radius: $borderRadiusS;
            margin: 2px;
            gap: 5px;
        }

        #nav-btn{
            display: flex;
        }

        //Fondo de color para que se vea bien el menú desplegado
        .desplegado{
         background-color: rgba($middlePurple, 1);
            padding: 20px;
            border-radius: $borderRadiusS ;   
        }
    
    }
}


/* Revisar fondo de color para menú desplegado idiomas, tema round

Revisar eprque no m'aplica la classe desplegado quan es desplega el menú, mirar erferencia class scrolled */