@charset "UTF-8";
/* COLOR PALETTE */
/* BORDER RADIUS */
/* PADDING */
/* GAP */
/* TEXTO: TAMAÑO y TIPOGRAFÍA */
/* BOTONES */
/* ICONOS */
html, body {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #DEC7EB;
}

* {
  box-sizing: border-box;
}

:root {
  /* Edición de los colores de los bullets del Swiper*/
  --swiper-pagination-color: #DEC7EB;
  --swiper-pagination-bullet-inactive-color: #693c82;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-opacity: 1;
}

/* TEXTOS */
h1 {
  font-size: clamp(32px, 4vw, 48px);
  font-family: "Fjalla One", "Gill Sans", Calibri, sans-serif;
}

h2 {
  font-size: clamp(24px, 3vw, 32px);
  font-family: "Fjalla One", "Gill Sans", Calibri, sans-serif;
}

h3 {
  font-size: clamp(20px, 2.5vw, 22px);
  font-family: "Cantarell", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

p {
  font-size: clamp(18px, 1.5vw, 18px);
  font-family: "Cantarell", Helvetica, Arial, sans-serif;
}

.text-light {
  color: #693c82;
}

.text-dark {
  color: #DEC7EB;
}

.text-ultralight {
  color: #260936;
}

/* HEADER */
header {
  /* Definimos posición fija para el header, al hacer scroll este se mantiene en la parte superior */
  position: fixed;
  width: 100%;
  height: 90px;
  max-width: 100%; /* Max-width para que no haga scroll horizontal*/
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 20px 10px 5px 20px;
  transition: background-color 0.3s ease; /* Transición para el cambio de color del header */
  z-index: 1000; /* queda encima de todo el contenido */
}
header img {
  height: 100%;
  /*flex: 0 0 80px; */
}
header #menu-navegacion {
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 0;
  flex: 1;
}
header nav {
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 50%;
}
header a {
  color: #DEC7EB;
}

header.scrolled { /* Definición de las propiedades CSS de la class scrolled que se activa con Java Script */
  background: #693c82; /* color de fondo al hacer scroll */
  padding: 20px 10px 5px 20px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  font-size: clamp(18px, 1.5vw, 18px);
  font-family: "Fjalla One", "Gill Sans", Calibri, sans-serif;
}

#titol-web {
  font-size: clamp(50px, 4vw, 80px);
  font-family: "Cantarell", Helvetica, Arial, sans-serif;
}

.titol-web-change {
  font-size: clamp(80px, 4vw, 110px);
  font-family: "Fjalla One", "Gill Sans", Calibri, sans-serif;
}

#subtitol-web {
  font-size: clamp(18px, 4vw, 28px);
  font-family: "Cantarell", Helvetica, Arial, sans-serif;
}

/* FOOTER */
footer {
  color: white;
  min-height: 90px;
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-end;
}

.footer-light {
  background-color: #DEC7EB;
}

.logo-ajunt-lloret {
  height: 70px;
  padding: 5px;
}

/* BOTONES */
.btn-primary {
  font-family: "Cantarell", Helvetica, Arial, sans-serif;
  padding: 5px 16px;
  border-radius: 28px;
  margin: 10px;
  transition: transform 0.1s ease-in-out;
  display: inline-flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: clamp(28px, 1vw, 32px);
  font-weight: bold;
  border: none;
}

.btn-secondary {
  font-family: "Cantarell", Helvetica, Arial, sans-serif;
  padding: 5px 16px;
  border-radius: 28px;
  margin: 10px;
  transition: transform 0.1s ease-in-out;
  display: inline-flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: clamp(20psx, 1vw, 24px);
  font-weight: bold;
  border: none;
}

.btn-next {
  font-family: "Cantarell", Helvetica, Arial, sans-serif;
  padding: 5px 16px;
  border-radius: 28px;
  margin: 10px;
  transition: transform 0.1s ease-in-out;
  display: inline-flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: clamp(14px, 1vw, 18px);
  font-weight: normal;
  border: 1px solid;
  background-color: transparent;
}

.btn-ant {
  font-family: "Cantarell", Helvetica, Arial, sans-serif;
  padding: 5px 16px;
  border-radius: 28px;
  margin: 10px;
  transition: transform 0.1s ease-in-out;
  display: inline-flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: clamp(14px, 1vw, 18px);
  font-weight: normal;
  border: 1px solid;
  background-color: transparent;
}

.btn-light {
  background-color: #693c82;
  color: #DEC7EB;
  box-shadow: 2px 2px 4px #DEC7EB;
}

.btn-dark {
  background-color: #DEC7EB;
  color: #693c82;
  box-shadow: 2px 2px 4px #693c82;
}

.btn-light-border {
  color: #693c82;
  box-shadow: 2px 2px 4px #693c82;
  border: 1px solid #693c82;
}

.btn-dark-border {
  color: #DEC7EB;
  box-shadow: 2px 2px 4px #DEC7EB;
  border: 1px solid #DEC7EB;
}

.btn-share {
  padding: 10px;
  border-radius: 50%;
  margin: 10px;
  border: none;
  display: inline-flex;
}

a.btn:hover, .btn:hover {
  transform: scale(1.05); /* Tranformación para que augmente el tamaño del boton al hacer hover */
}

.btn-icon-primary { /* Iconos que hay en los botones */
  width: clamp(28px, 2vw, 32px);
  height: auto;
  max-width: 100%;
  align-items: center;
}

.btn-icon-secondary { /* Iconos que hay en los botones */
  width: clamp(20px, 2vw, 24px);
  height: auto;
  max-width: 100%;
  align-items: center;
}

.btn-icon-next, .btn-icon-ant { /* Iconos que hay en los botones */
  width: clamp(16px, 2vw, 20px);
  height: auto;
  max-width: 100%;
  align-items: center;
}

.btn-icon-share {
  width: clamp(28px, 2vw, 32px);
  height: auto;
}

/* DESPLEGABLE IDIOMA */
.menu-idioma-desplegable {
  padding: 0;
  height: 90%;
  flex: 0 0 50px;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
}

#menu-idioma {
  padding: 0;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 100%;
}

#menu-idioma[hidden] {
  display: none;
}

.idioma {
  padding: 0;
  height: 100%;
}

#idioma-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* INICI MAIN */
.hero-bg-inici { /* Imagen de fondo de la seccion inicial */
  background: linear-gradient(rgba(105, 60, 130, 0.7), rgba(105, 60, 130, 0.7)), url("../files/img/dona_marinera_tochange.jpg");
  /* Imagen de fondo con filtro de color por encima */
  background-position: top left; /* Coge de referencia la esuqina sueprior izquierda, al hacer pequeña la pantalla la imagen se mantiene estática en esa posición, interesa por como es el contenido de la imagen */
  background-repeat: no-repeat; /* La imagen no se repite en el caso de que no rellene el fondo */
  top: 0;
  left: 0;
  min-height: 50vh;
}

.inicio {
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 100px;
  align-items: center;
}
.inicio .text-inicio {
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  max-width: 550px;
}
.inicio #greenline-inicio {
  max-width: 200px;
  align-self: end;
  margin-top: -50px;
  margin-right: 80px;
}
.inicio .buttons-inicio {
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.inicio-fade {
  height: 50px;
  background-color: linear-gradient(rgba(105, 60, 130, 0.7), rgba(222, 199, 235, 0.7));
  z-index: -1;
}

.li-comfunciona {
  font-family: "Cantarell", Helvetica, Arial, sans-serif;
  font-size: clamp(18px, 1.5vw, 18px);
  line-height: 250%; /* Ampliación del alto de linea para separar los pasos de la lista */
  list-style-type: decimal; /* Definiendo el número de cada item de la lista */
}

.com-funciona, .accessibilitat {
  background-color: #DEC7EB;
  display: block;
  padding: 16px;
  padding-top: 20px;
}

.com-funciona {
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.com-funciona .butons-comfunciona {
  display: flex;
  flex-wrap: wrap;
}
.com-funciona .text-comfunciona {
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 450px;
  padding: 20px;
}
.com-funciona .imagen-mapa {
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  max-width: 100%;
}

.imagen-funciona {
  display: inline-flex;
  justify-content: flex-end;
  max-width: 60%;
}

.accessibilitat {
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 40px;
  gap: 25px;
  align-items: center;
}

.carroussel-interes {
  max-width: 60%;
}

.swiper {
  max-width: 100%;
  aspect-ratio: 16/9; /* Mantiene el ratio de ancho/altura */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 1px 1px 4px #693c82;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
  color: #DEC7EB;
}
.swiper .carroussel-interes-inicio {
  width: 100%;
  height: auto;
  position: top center;
}

.bloc-accessibilitat {
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: center;
  justify-self: end;
  gap: 20px;
  max-width: 500px;
}
.bloc-accessibilitat h2 {
  margin: 0;
}

.icona-accessibilitat {
  width: clamp(30px, 3vw, 34px);
  height: auto;
}

.access-info {
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  gap: 15px;
}

.access-text {
  line-height: 10%;
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  align-items: flex-start;
}
.access-text h3 {
  line-height: 150%;
  margin: 0;
}
.access-text p {
  line-height: 150%;
  margin: 0;
}

@media (max-width: 769px) {
  .com-funciona, .accessibilitat {
    /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .carroussel-interes, .imagen-funciona {
    max-width: 90%;
  }
}/*# sourceMappingURL=styles.css.map */